* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    height: 10vh;
}

.left-item {
    margin: 0 10px;
}

.center-item {
    flex-grow: 1;
}

header i {
    font-size: 1.5rem;
}

h2 {
    text-align: center;
}

.vertical-nav-bar {
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

.vertical-nav-bar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    flex-grow: 1;
    overflow: auto;
    color: #ccc;
}

footer {
    height: 10vh;
}

#hw-list a {
    text-decoration: none;
}

#hw-list a:link, .vertical-nav-bar a:link {
    color: #ccc;
}
  
#hw-list a:visited, .vertical-nav-bar a:visited {
    color: pink;
}
  
#hw-list a:hover, .vertical-nav-bar a:hover {
    color: red;
}
  
#hw-list a:active, .vertical-nav-bar a:active {
    color: yellow;
}

#hw-list {
    margin-left: 20px;
}

ol li {
    color: #ccc;
    padding: 5px;
}

nav {
    display: flex;
    height: 5vh;
    justify-content: space-around;
    background-color: #000080;
}

nav a {
    padding: 10px;
    color: #ccc;
    text-decoration: none;
}

.nav-active {
    color: black;
    background-color: #87CEEB;
}

.hw2-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hw2-section, #hw3-section, .hw3-part2-section, #hw4-section, .hw5-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hw2-part3-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currencies-container {
    width: 50%;
}

#hw2-table-part3 {
    border: 1px solid #ccc; 
    border-collapse: collapse;
}

#hw2-table-part3 th, td {
    border: 1px solid #ccc; 
}

#hw2-table-part3 th {
    background-color: #555;
    font-weight: bold;
}

#currencies-form {
    display: flex;
    flex-direction: column;
}

#hw2-table-part3 td {
    text-align: center;
}

#hw2-table-part3 input {
    text-align: center;
}

.full-width-black-input {
    width: 100%;
    background-color: black;
    color: #ccc;
    border: none;
}

#instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
}

div button {
    align-self: center;
    background-color: #555;
    color: #ccc;
    border: none;
    text-decoration: none;
    padding: 5px;
}

.hw3-part2-table input {
    text-align: right;
}

.content-container {
    display: flex;
    flex-grow: 1;
}

.row-flex-direction {
    flex-direction: row;
}

.column-flex-direction {
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
}

#hw3-part3-textarea {
    background-color: black;
    color: #ccc;
}

#continue {
    display: none;
}

#stop {
    display: none;
}

.hw4-part2-tables tr:nth-child(even) {
    background-color: #555;
}

.hw4-part2-tables td {
    text-align: center;
}

.hw4-part2-tables {
    caption-side: bottom;
}

#drawing-area {
    line-height: 10px;
    color: #ccc;
    text-align: center;
}

#hw4-part3-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 50%;
}

#square-table {
    border: none;
}

#square-table th, #square-table td {
    border: none; 
}

#square-table td {
    text-align: center;
}

#square-table tr {
    height: 20px;
}

#square-table td {
    width: 20px;
}

.half-screen-width {
    width: 50vw;
}

.thin-white-border {
    border: 1px solid #ccc;
}

.black-background-white-text {
    background-color: black;
    color: #ccc;
}

.full-width-black-background {
    width: 100%;
    background-color: black;
    color: #ccc;
    text-align: center;
}

.center-child-elements {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.problem-container {
    width: 70%;
}

.loop-problem-container {
    width: 50%;
}

.results-area {
    width: 50%;
}

.draggable {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background-color: #ccc;
}

.droppable {
    display: inline-block;
    background-color: #ccc; 
    color: black;
    width: 1.5em;
    height: 1.5em;
}

.space-around {
    justify-content: space-around;
}

.draggable-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 2em;
    background-color: #555;
}

.reset-button {
    margin: 1em;
}

.container-for-perfect-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .content-container {
      flex-direction: column;
    }

    .vertical-nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        background-color: #222;
    }
  }